@import url('https://fonts.googleapis.com/css2?family=Life+Savers&family=Pacifico&family=Passions+Conflict&display=swap');
img
{
   width:500px;
    height: auto;
    transform: scale(1.2);
    transition: all 0.3s;
    filter:grayscale(50%);
    filter: contrast(50%);
    filter: drop-shadow(100%);
    
}
img:hover
{
    filter: contrast(0%);
    filter: drop-shadow(100%);
    filter: grayscale(0%);
    transform: scale(1.1);

}
.image
{
   
    background-image: url('as.jpg');
    display: grid;
    grid-template-columns: repeat(3,4fr);
    padding: 30px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    margin-top: 40px;
}
div.i1
{
   
    text-align: center;
    overflow: hidden;
    position: relative;
    opacity: 0.8;
    transition: 0.3s;
}
div.i1:hover
{
    opacity: 1;
}

body
{
    overflow-x: hidden;
   background-color: rgb(0, 0, 0,1);
}
h1
{
    font-family: 'Life Savers', cursive;
    text-align: center;
    color: rgb(255, 255, 255);
    border-style:groove ;
    border-color:aliceblue;
    background-color: rgb(0, 0, 0,0.6);
}
div.content
{
    font-family:monospace;
    font-size: 25px;
    margin-top: 50px;
    color: aliceblue;
}
.S
{
    opacity: 0.1;
    text-align: center;
    overflow: hidden;
    position: relative;
    opacity: 0.5;
    transition: 0.3s;
}
.S:hover
{
    opacity: 1;
}